# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
# .env 파일은 GitHub Actions에서 생성하므로 포함
# .env.example, .env.local 등은 제외
.env.example
.env.local
.env.dev
.env.prod
.env.test
.env.*.local

# Misc
README.md
.DS_Store